<a href="https://colab.research.google.com/github/Manuel-00/edd_1310_2021/blob/master/1Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
## Variables
Tipo dinamico
escuela= 'Fes Aragon'

In [1]:
escuela = 'Fes Aragon'
print (escuela)
print("---------")
edad = 13
estatura = 167
fumador = True
frase= """
Esta es
una
frase 
de multiples lineas
y tambien es
un tipo de dato
"""
print (frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

Fes Aragon
---------

Esta es
una
frase
de multiples lineas
y tambien es
un tipo de dato

# Print
con comas,

con signo mas +

con format ()

con el operador f""

In [2]:
print (nombre, edad)

jose 13

In [7]:
# + concatena y str en caso de no ser string
print(nombre + str(edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [11]:
# con formato => Su nombre Jose y su edad es 13 años 
print("Su nombre es", nombre, "y su edad es de",edad, "años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [12]:
# con formato con el operador f""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

# Carcter de escape
\n salto de linea

\t tabulador

\a beep

\\" imprimir comilla doble

\\' imprimir comilla simple

In [13]:
"""
Esto es 
un comentario
de multiple linea
tan tan
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de dato en python
dir()

help()

In [ ]:
# El str, int, float, bool ... list, dict, set
help(str)

In [20]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="----")
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS----Jose Sosa Cardenas

# clase String
Es manejada como un arreglo (o java) o lista (python)
nota: el stop no se icncluye, termina en el valor anterior al stop

In [22]:
telefono = "Huawei mate 30 pro"
print(telefono[5])

i

In [ ]:
# sliicing (rebando)
[inicio:stop:incremento]

In [28]:
print(telefono[7:11:1])
# el inicio y el incremento son opcionales 
print(telefono[:11:])
# el valor por defecto de stop len(str)
print(telefono[::])
# incremento negativo
print(telefono[::-1])
# slacing negativo
ini = -3
inc = 1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# métodos de string (str)
Existen métodos muy útiles en esta clase.

In [46]:
facultad = "    facultad de estudios superiores aragon      \n"
print(facultad)
print(facultad.count(" ")) # cuenta elemntos en la cadena
print(facultad.find("s")) # encuentra el primer elemnto coincidente en la cadena
print(facultad.strip())
tamaño=len(facultad)
print(len(facultad))
print(f"tamaño de la cdena es {tamaño} carecteres")
print(facultad)
print(facultad.strip().split(" "))
print("---------------------")
#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
otra_cadena="FES Aragon"
print(facultad)
print(otra_cadena)
#copiar listas
colores = ["rojo", "verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon

14
17
facultad de estudios superiores aragon
49
tamaño de la cdena es 49 carecteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
---------------------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragon
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']