<a href="https://colab.research.google.com/github/Manuel-00/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# String Continuacion

numeros_txt = '   1, 2, 3, 4    , 5    , 35  , 15  , 12'
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[j]=  int(numeros_txt[j].strip())
print(numeros_txt)

# funcion range()

# range(inicio, strop, incremento)
print(range(1,10,3))
rango = range(1,10,2)

for x in rango:
  print(x)

rango= range(10)
for x in rango:
  print(x)

   1, 2, 3, 4    , 5    , 35  , 15  , 12
['1', ' 2', ' 3', ' 4    ', ' 5    ', ' 35  ', ' 15  ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
- declaran con []
- selectror [int]
- pueden ser de cuaqluier tipo y mezclado 

# tuplas
- no mutables
- declaran con ()
- selectos [int]

#diccionarios
- son mutables
- son conjunto de pares llave:valor
- equivalentes a los obejetos JSON de JavaScritp

#conjuntos
- representacion d ela teoria de conjuntos

In [21]:
# Listas (Equivalentes a los arreglos en otros lenguajes de prog.)
frutas = ["Pera", "Manzana", "fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
frutas[2]="Fresa"  # frutas[2] = frutas[2].capitalize()
print(frutas)
# agregar a lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"Sandia")
print(frutas)

# concatenar listas
fecha=["06","10","2020"]
print(fecha)
"/".join(fecha)
fecha_str= "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]

In [28]:
# eliminar elemntos
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)
algo = cosas.pop(2)
print(cosas)
print(algo)

# Vaciar una lista

cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
[]
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [35]:
# Slicing

cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:])

#sustituir rebanadas 
numeros [8:13:]= [-2,-2]
print(numeros)

#preguntar por excistencia
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

# listas multi dimension

listas dentro de listas

In [42]:
computadoras=["HP", "Mac Book pro 17", "Mate book", "Lenovo legion"]
oss = ["WIndows 10", "Linux", "Android", "iOS",]

computo= [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])
dbms = [ ["Mysql", "Open Source", False] , ["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])

['HP', 'Mac Book pro 17', 'Mate book', 'Lenovo legion']
['WIndows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book pro 17', 'Mate book', 'Lenovo legion'], ['WIndows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql

In [ ]:
help(list)